* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #999;
}

.boards {
    width: 90%;
    margin: 20px auto;
    min-height: 95vh;
    background-color: #ddd;
    border-radius: 20px;
    padding: 30px 150px 0px 150px;
}

.board {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color: #888;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
