* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #999;
}

h1 {
    margin-bottom: 30px;
}

.boards {
    width: 90%;
    margin: 20px auto;
    min-height: 95vh;
    background-color: #ddd;
    border-radius: 20px;
    padding: 30px 150px 0px 150px;
}

.addBoardDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#addBoard {
    width: 130px;
    height: 50px;
    border: 0;
    background-color: #999;
    color: #fff;
    border-radius: 15px;
    font-size: 17px;
}

.addBoardForm {
    display: none;
    position: absolute;
    top: 40%;
    left: 43%;
    z-index: 2;
    background-color: #888;
    padding: 10px 50px 50px 50px;
    border-radius: 30px;
}

.board {
    color: #fff;
    height: 50px;
    border-radius: 15px;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 10px;
}

.delBoard {
    width: 50px;
    height: 30px;
    border: 0;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.formDiv {
    display: grid;
    grid-template-rows: 0.7fr 1fr 1fr 1fr;
    gap: 20px;
}

#newBoardName, #newBoardSize {
    border: 0;
    border-radius: 10px;
    padding: 8px;
}

#newBoardSubmit {
    border: 0;
    border-radius: 10px;
    padding: 8px;
}

#newBoardSubmit:hover {
    scale: 1.05;
    transition: 0.05s;
    cursor: pointer;
}

#closeAddBoard {
    display: grid;
    justify-content: end;
    color: #fff;
    font-size: 20px;
}

#closeAddBoard:hover {
    cursor: pointer;
}