* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    gap: 20px;
    height: 100vh;
}

.users {
    width: 400px;
    background-color: #a5a5a5;
    height: 100%;
}

.user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.board {
    width: 100%;
    height: 100%;
    background-color: #a5a5a5;
}

.ships {
    width: 500px;
    background-color: #a5a5a5;
    height: 100%;
}