<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div>
        <h2>Администратор</h2>
        <a href="{{  url_for('register') }}">Регистрация</a>
        <a href="{{  url_for('login') }}">Вход</a>
    </div>
    <div>
        <h2>Пользователь</h2>
        <a href="{{  url_for('register') }}">Регистрация</a>
        <a href="{{  url_for('login') }}">Вход</a>
    </div>
</body>

</html>
