<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="../static/css/lists.css">
    <script src="../static/js/lists.js" defer></script>
</head>
<body>
    <main>
        <div class="boards">
            <div class="board">
                <h3 class="board-name">Поле 1</h4>
                <h2 class="board-size">5x5</h3>
                <button class="del-board">Удалить</button>
            </div>
            <div class="board">
                <h3 class="board-name">anbavbgfh</h4>
                <h2 class="board-size">5x5</h3>
                <button class="del-board">Удалить</button>
            </div>
            <button id="add_board">Создать поле</button>
        </div>
        <div class="prizes">

        </div>
    </main>
</body>
</html>